.capsuleSection{
    position: relative;
    height: 450px;
    margin-top: -20px;
} 

.capsulesSlider{
    position: absolute;
    overflow: hidden;
    width: 95vw;   
    left: 2vw;
    height: 400px;
}

.capsulesInnerSlider{
    position: absolute;
    width: inherit;
    top: 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    margin: 30px 0px;
    //pointer-events: none;
}